*{
    margin: 0;
    padding: 0;
}

 body{
    background-color: #99C5B5;
    text-align: center;
}

.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    background-color: bisque;
    font-size: 8vmin;
    color: #F1596E;
}

.bottomBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #073B4C;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}

#newButton{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #073B4C;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #B2143A;
    font-size: 5vmin;
    font-weight: bold;
}

.msg-container{
    height: 10vmin;
}

.hide{
    display: none;
}